.banner {
  /* height: 20%; */
  flex: 1;
  background: url("https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
    no-repeat;
  background-size: cover;
  overflow: hidden;
}
.banner .banner-con {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.element-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.banner-text {
  color: #393838;
  text-align: center;
}
