* {
  box-sizing: border-box;
}

.form {
  flex: 2;
  box-shadow: 0px 2px 3px 1px #323030;
  padding: 15px 15px 15px;
  margin: 5px;
  border-radius: 10px;
  background: #ffffff;
  display: block;
  overflow: auto;
  font-size: 20px;
}

.input-con {
  /* background: #ffffff; */
  margin: 5px;
  position: relative;
}

.input-con input {
  margin-left: 5px;
  padding: 3px;
  border: 1px solid rgb(136, 133, 133);
  border-radius: 15px;
  text-align: center;
  position: relative;
}

.text-input {
  margin: 5px;
  position: relative;
}

.text-input-box {
  margin: 5px;
  width: -webkit-fill-available;
  border-radius: 10px;
  border: 1px solid rgb(166, 159, 159);
  position: relative;
}

.remove-btn {
  background-color: rgba(255, 255, 255, 0);
  margin: 2px;
  color: rgb(235, 129, 129);
  border: black;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

// .remove-btn:hover {
//   background-color: rgb(144, 56, 56);
// }

.add-btn {
  background-color: rgba(255, 255, 255, 0);
  margin: 2px;
  color: rgb(36, 110, 73);
  border: black;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.submit-btn {
  background-color: rgb(69, 106, 171);
  margin: 5px;
  color: white;
  border: black;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
}
